.img{
  width:250px;
  height:250px;
  margin-left:450px;
  border-radius:50%;
 
} 
.profile{
  display: flex;
  align-item: center;
  justify-content: center;
  height: 18vh;

}

.me{
  width:90px;
  height:50px;
  margin-left:530px;
 
}
